{% extends 'base.html' %}
{% block title %} SLJ Home {% endblock %}
{% block content %}
<form action="{% url 'search_results_view' %}" method="get">
    <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search something..."><input type="submit"
                                                                                                     name="" value="Search" id="">
</form>
Welcome home, {{ user.first_name }} <a href="/web_interface/edit_profile/{{ user.pk }}">edit profile</a> <a href="/auth/logout">logout</a> <br>
<img src="{{ user.avatar.url }}" alt=""><br>

Your pets:
{% for pet in pets %}
<br><a href="/web_interface/pet/{{ pet.pk }}">{{ pet.name }}</a>
 <a href="/web_interface/edit_pet/{{ pet.pk }}">Edit</a>
 <a href="/web_interface/delete_pet/{{ pet.pk }}">Remove</a>
{% endfor %}
<br><br>
<a href="/web_interface/newpet">Register your new Pet</a>

<br><br>

Your products:
{% for product in products %}
<br><a href="/web_interface/product/{{ product.pk }}">{{ product.title }}</a>
 <a href="/web_interface/edit_product/{{ product.pk }}">Edit</a>
 <a href="/web_interface/delete_product/{{ product.pk }}">Remove</a>
{% endfor %}
<br><br>
<a href="/web_interface/newproduct">Add new product</a>
{% endblock %}